aclocal.m4
autom4te.cache
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build/
compile
config.guess
config.h
config.h.in
config.cache
config.log
config.status
config.sub
configure
cscope.*
depcomp
.deps
doc/advancedusage.html
doc/configuration.html
doc/gettingstarted.html
doc/.*.html
doc/*.html
doc/instdoc
doc/instdoc.sh
doc/makedoc
doc/manual.aux
doc/manual.log
doc/manual.out
doc/manual.pdf
doc/manual.tex
doc/manual.txt
doc/manual.xml
doc/mutt.1
doc/mutt.info
doc/mutt.texi
doc/Muttrc
doc/muttrc.man
doc/smime_keys.1
doc/stamp-
doc/stamp-doc-chunked
doc/stamp-doc-xml
/flea
.gdb_history
*.gmo
hcachever.sh
hcversion.h
install-sh
keymap_defs.h
Makefile
/po/Makefile.in
/doc/Makefile.in
/imap/Makefile.in
/m4/Makefile.in
/contrib/Makefile.in
/Makefile.in
missing
mutt
muttbug.sh
mutt_dotlock
mutt_dotlock.c
mutt_md5
*.o
*.orig
patchlist.c
pgpewrap
mutt_pgpring
po/mutt.pot
po/POTFILES
*.rej
reldate.h
^.settings/
smime_keys
stamp-doc-rc
stamp-h1
*.swp
TAGS
tags
ID
.xcodeproj/*
keymap_alldefs.h
po/mutt-kz.pot
txt2c
conststrings.c
doc/pgpewrap.1
doc/mutt_pgpring.1
mutt-kz-*.tar.*
po/*.gmo
*~
*.a
